<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Non riscrivere chiamate verso /api (gestite dal backend)
  RewriteRule ^api/ - [L]

  # Regola SPA: Se il file non esiste, serve index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
